<section class="flex-column justify-center">
    {{#each posts as |postData| }}
    <div class="col-sm-12  col-md-10 col-lg-8 col-xl-6">
        <div class="flex-row justify-space-between dashboard-header">
            <h3 class="flex-row justify-center"><a href="/dashboard/edit/{{postData.post_id}}">{{postData.title}}</a></h3>
            <p>{{postData.date}}</p>
        </div>
    </div>
    {{/each}}
</section>