<section class="flex-row justify-center">
    <div class="col-sm-12  col-md-10 col-lg-8 col-xl-6 card">
        <div class="card-header">
            <h2 class="flex-row justify-center">Login</h2>
        </div>
        <div class="card-body col-8">
            <form>
                <div>
                    <label for="username-input-login" class="form-label pl-2">Username</label>
                    <input type="input" placeholder="user" class="form-control"
                        id="username-input-login" aria-describedby="emailHelp" />
                </div>
                <div>
                    <label for="password-input-login" class="form-label pl-2">Password</label>
                    <input type="password" placeholder="*********" class="form-control"
                        id="password-input-login" />
                </div>
                <div class="mb-3 form-check">
                </div>
                <button class="btn" id="login-form">Login!</button>
            </form>
            <a href="/signup">Sign up instead</a>
        </div>
    </div>
</section>

<script src="/js/login.js"></script>