<section class="flex-row justify-center">
    <div class="col-sm-12  col-md-10 col-lg-8 col-xl-6 card">
        <div class="card-header">
            <h2 class="flex-row justify-center">Create New Post</h2>
        </div>
        <div class="card-body col-8">
            <form>
                <div>
                    <label class="form-label">Title</label>
                    <input name="post-title" type="text" placeholder="" class="form-input"
                         aria-describedby="post-title" />
                </div>
                <div>
                    <label class="form-label">Content</label>
                    <textarea name="post-body" rows="2" type="text" class="form-textarea"
                        id="post-content" ></textarea>
                </div>
                <button class="btn" type="submit" id="new-post-form">Create</button>
            </form>
        </div>
    </div>
</section>

<script src="/js/new.js"></script>