<section class="flex-row justify-center">
    <div class="col-sm-12  col-md-8 col-lg-6 col-xl-3 max-w card">
        <div class="card-header">
            <h2 class="flex-row justify-center">Create an Account</h2>
        </div>
        <div class="card-body col-8">
            <form id="signup-form">
                <div class="mb-4 input-card p-2">
                    <label for="email" class="form-label pl-2">Email address</label>
                    <input type="email" placeholder="example@exmpl.com" class="form-control border-0 inp" id="email" />
                </div>
                <div class="mb-4 input-card p-2">
                    <label for="name" class="form-label pl-2">Username</label>
                    <input type="text" placeholder="elitedarklord_dragonslayer_3.14159" class="form-control border-0 inp" id="username-input-signup" />
                </div>
                <div class="mb-4 input-card p-2">
                    <label for="password" class="form-label pl-2">Password</label>
                    <input type="text" placeholder="*********" class="form-control border-0 inp" id="password-input-signup" />
                </div>
                <button class="btn" type="submit" id="signupBtn">Create Account</button>
            </form>
            <a class="flex-row justify-center" href="/login" id="signupLink">Sign In</a>
        </div>
    </div>
</section>